.color1 {
  color: #7e5678;
}
.color2 {
  color: rgb(211, 148, 148);
}
.color3 {
  color: rgb(220, 92, 173);
}
.color4 {
  color: rgb(13, 150, 22);
}
.color5 {
  color: rgb(148, 76, 167);
}
.color6 {
  color: rgb(94, 140, 41);
}
.color7 {
  color: rgb(152, 0, 0);
}

.app-background {
  color: #f2f2f2;
}
