.color1 {
  color: #00d3f4;
}
.color2 {
  color: #ff1b1b;
}
.color3 {
  color: #ffd52f;
}
.color4 {
  color: #0d9616;
}
.color5 {
  color: #a700d5;
}
.color6 {
  color: #ff911b;
}
.color7 {
  color: #000000;
}

.app-background {
  color: #f2f2f2;
}
